{% extends 'base.html.twig' %}

{% block title %}Admin | Sign-in{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/admin/login.css') }}">
{% endblock %}
{% block bodyclass %}
 body-background
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="offset-md-4 col-md-4 bg-white mt-lg-4 p-4 login-form">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Admin <span>|</span> Sign-in</h1>
                <hr>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group m-0">
                    <button class="btn btn-primary w-100" type="submit">Admin <span>|</span> Sign-in</button>
                    <p class="mt-3 mb-0">Do not have an account? <a class="" href="{{ path('app_register') }}">Sign-up here</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
