{% extends 'base.html.twig' %}
{% set formSubmitPath = path('sales_order_edit', {'id': entity.id}) %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/admin/sales-order-create.css') }}">
{% endblock %}

{% block title %}Edit Sales Order{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        {% include 'admin/includes/navbar.html.twig' %}
        <div class="row ml-0 mr-0 mb-5">
            <div class="offset-md-4 col-md-4 mt-2 p-0 mb-1">
                <a href="{{ path('sales_order_index') }}" class="btn btn-sm btn-info float-right">
                    <span class="text-white font-weight-bold">Back to list</span>
                </a>
            </div>
            <div class="border offset-md-4 col-md-4 p-2">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Edit Sales Order</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ include('admin/sales_order/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/javascripts/admin/sales-order.js') }}"></script>
{% endblock %}
