{% extends 'base.html.twig' %}

{% block title %}Sales Order List{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        {% include 'admin/includes/navbar.html.twig' %}
        <div class="row">
            <div class="col-md-4">
                <h1 class="h3 mb-3 mt-3 font-weight-normal text-center">Sales Order List</h1>
            </div>
            <div class="offset-md-3 col-md-4">
                <a class="btn btn-sm btn-info float-right mt-4" href="{{ path('sales_order_new') }}">
                    <span class="text-white font-weight-bold">New Sales Order</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <table class="table table-striped text-center table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Total Value</th>
                        <th>Client Name</th>
                        <th>Client Location</th>
                        <th>User</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for so in sales_orders %}
                        <tr>
                            <td>{{ so.id }}</td>
                            <td>{{ so.totalValue }}</td>
                            <td>{{ so.client.name }}</td>
                            <td>{{ so.client.location }}</td>
                            <td>{{ so.admin.firstName~' '~so.admin.lastName }}</td>
                            <td>{{ so.createdAt ? so.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ so.updatedAt ? so.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('sales_order_show', {'id': so.id}) }}" class="btn btn-sm btn-success">
                                    <span class="text-white font-weight-bold">Show</span>
                                </a>
                                <a href="{{ path('sales_order_edit', {'id': so.id}) }}" class="btn btn-sm btn-warning">
                                    <span class="text-white font-weight-bold">Edit</span>
                                </a>
                                {% include 'admin/sales_order/_delete_form.html.twig' with {'entity': so} %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="100%">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
